@import url(https://fonts.googleapis.com/css2?family=Roboto + Mono:wght@400;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap);

/* General */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fff;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

/* Form */

label {
  font-family: 'Roboto Mono', monospace, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  color: #000;
  position: absolute;
  display: inline;
  left: 0;
  top: 0;
  transform: translateX(0px) translateY(0px) scale(1) translateZ(0px);
  transition: transform 200ms;
}

form {
  position: relative;
}

.inp-url {
  background-color: transparent;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 2px solid #000;
  border-radius: 0;
  width: 100%;
  font-family: 'Roboto Mono', monospace, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

.inp-url:focus {
  outline: none;
}
.inp-url::placeholder {
  opacity: 0;
}
.inp-url:focus::placeholder {
  opacity: 0.5;
  color: #000;
}

.inp-url:focus + .inp-label {
  transform: translateX(-5px) translateY(-25px) scale(0.9) translateZ(0px);
}

.inp-url.active + .inp-label {
  transform: translateX(-5px) translateY(-25px) scale(0.9) translateZ(0px);
}

#url-error {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #fc4042;
  overflow: hidden;
  margin: 5px 0 0;
  position: absolute;
  transform: translateY(-15px);
  opacity: 0;
  transition: transform 200ms ease-in-out, opacity 300ms ease-in-out;
}

#url-error.active {
  transform: translateY(0);
  opacity: 1;
}

#url-submit {
  cursor: pointer;
  position: relative;
  margin-top: 25px;
  border: none;
  display: block;
  margin-right: 0;
  margin-left: auto;
  padding: 8px;
  background-color: #000;
  color: white;
  font-family: 'Roboto Mono', monospace, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
}

/* Pagination */

#back-pagination,
#forward-pagination,
button[data-button] {
  font-family: 'Roboto Mono', monospace, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: none !important;
  border: none;
  cursor: pointer;
}

#back-pagination:disabled,
#forward-pagination:disabled {
  cursor: not-allowed;
}

.data-button.active {
  text-decoration: underline;
}

.result-pagination {
  display: flex;
  justify-content: center;
}

/* List */

.container {
  position: relative;
  max-width: 400px;
  margin: 50px auto 0 auto;
  padding: 0 16px;
}

#url-list {
  list-style: none;
  padding: 0;
  max-height: 350px;
  overflow-y: auto;
}

#url-list .url-list-item {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#url-list .url-list-item .url-list-link {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto Mono', monospace, Helvetica, Arial, sans-serif;
  position: relative;
  color: #000;
}

#url-list.result-list .url-list-item .url-list-link {
  margin: 0 auto;
}

#url-list .url-list-item .url-list-link::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #00fdc7;
  transform: scale(0);
  transition: opacity 0.5s, transform 0.3s 0.5s;
}

#url-list .url-list-item .url-list-link:hover::before {
  transform: scale(1);
  opacity: 1;
  transition: opacity, transform 0.3s, -webkit-transform 0.3s;
}

#url-list .url-list-item .url-button-container {
  white-space: nowrap;
}

.btn-icon {
  border: none;
  background-color: #fff;
  vertical-align: sub;
  cursor: pointer;
}

/* Footer Links */

.result,
.return {
  display: inline-block;
  color: #000;
  font-family: 'Roboto Mono', monospace, Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 0px 8px;
  margin-top: 24px;
  border-bottom: 1px solid black;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}

.return::before {
  content: '<-';
  position: absolute;
  top: 0;
  left: -25px;
  right: 0;
  bottom: 0;
}

.result-header {
  font-family: 'Roboto';
  font-size: 48px;
  text-align: center;
  margin-top: 32px;
}

.phantom {
  position: relative;
}

.phantom::after {
  content: url(icon/phntm-logo.svg);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 10%;
}

.balloon {
  position: absolute;
  left: -150px;
  top: 0;
  width: 35%;
}

@media screen and (max-width: 768px) {
  .balloon {
    display: none;
  }
}
